# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# for pnpm only
pnpm-lock.yaml

# Playwright
playwright-report/
test-results/
blob-report/
e2e/.auth/

# OS 별 시스템 파일
.DS_Store
Thumbs.db

# 환경 변수 (테스트용 제외)
.env.local
.env*.local
!.env.test

# mock build file
e2e/scripts/mock-api-server.js
dist/*